---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Posts from '../components/Posts.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  ).slice(0,2);
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		  <article>
        <h2>Sobre o Site</h2>
        <p>
        O site tem como objetivo mostrar um pouco sobre mim e minhas experiências profissionais e pessoais. Ele foi criado
        com foco em manter uma interface simples e como uma forma de ter um espaço para me expressar, tanto através dos
        textos, como através da programação e do design. Você pode encontrar mais informações sobre a criação desse site
        e suas inspirações nesse <a href="blog/criando-um-blog/">Post do Blog</a>.
        </p>
        <p>
        Aqui, você poderá encontrar <a href="sobre">mais informações sobre mim</a>; meu trabalho; meus hobbies;
        alguns pensamentos sobre programação sob a perspectiva de um profissional que também tem a programação como uma de
        suas diversões preferidas; e também reflexões a respeito de algumas leituras que fiz, ou ideias que tive,
        ou chegaram até mim por aulas, vídeos, jogos, ou seja lá que meio for, mas que se conectaram comigo de alguma forma e que
        eu resolvi compartilhar. Ocasionalmente, talvez também apareçam alguns joguinhos que desenvolvi, ou algumas
        receitas que achei legais, mas, em geral, prefiro não me expor muito na internet.
        </p>
		  </article>
		  <section>
        <h2>Últimos Posts</h2>
        <Posts posts={posts}/>
		  </section>
		</main>
		<Footer />
	</body>
</html>
