---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Mim"
	description="Descrição"
  pubDate={new Date('2026-06-22')}
>
	<p>
    Meu nome é Daniel Costa Carvalho e sou um homem católico, nascido e criado 
    no sertão da Bahia. Tenho como hobbies, além da própria programação, 
    a música, o jiu-jitsu, a leitura e jogos antigos, ou independentes.
  </p>

	<p>
    Conheci a programação na escola, nas aulas de robótica e desde lá já comecei
    a gostar, mas eu ainda considerava coisa para gente rica e acabei não 
    focando tanto na robótica, preferindo jogar futebol, que é algo que eu 
    também gostava bastante e muito mais do que programação, na época. Nas aulas
    de robótica era usado uma linguagem visual parecida com 
    o <a href="https://scratch.mit.edu/">scratch</a> para programar robôs da Lego.
	</p>

	<p>
	  O meu contato seguinte com a programação já foi no ensino médio através do
    site da <a href="https://pt.khanacademy.org/brasil">Khan Academy</a>. Nesse 
    período, eu acessava o site para estudar matemática e achei um curso sobre 
    programação em JavaScript (ainda pré ES6). A partir disso, eu realmente me 
    apaixonei pela programação e comecei também a estudar por outros meios. 
    Apesar desse começo com JavaScript eu gostei muito mais do Python, que 
    estava em processo de migração da versão 2 para a versão 3, mas eu gostei 
    bem mais de ambas as versões em relação ao JavaScript.
	</p>

  <p>
    Durante um longo período eu continuei a estudar Python e a estudar também
    outras linguagens por diversão (como o C), ou por utilidade (como o Bash
    script), mas tudo para automatização de pequenas tarefas do trabalho, ou
    pessoais, por diversão para resolver problemas de matemática, ou apenas pela
    diversão de aprender algo novo, ainda assim sem imaginar a programação como
    uma possível profissão.
  </p>

  <p>
    Ainda sem entender como seria possível tornar a programação em minha
    profissão, por incentivo da minha mãe, entrei na faculdade de Sistemas de
    Informação e foi lá que consegui fazer meu primeiro projeto "real", com a
    ajuda de um amigo (Vinícios), que me ensinou a lidar com as loucuras de
    callbacks do JavaScript assíncrono, como era feito no momento, para um
    trabalho da faculdade. Foi através desse projeto que eu primeiro vislumbrei
    a possibilidade de seguir essa carreira e ganhar dinheiro com o que, por
    muito tempo, apenas um lazer.
  </p>

  <p>
    Também foi na faculdade que consegui minhas primeiras oportunidades de
    emprego, começando por alguns estágios como suporte técnico, um deles me
    permitiu contato com uma empresa que, mais tarde, me contratou como auxiliar
    de informática (meu primeiro emprego na área). Mais tarde, também fui 
    contratado para a empresa de um professor para o meu primeiro emprego como
    programador.
  </p>

  <p>
    Como profissional, atuei em sistemas voltados para logística, trabalhando em
    migrações e atualizações de tecnologia, também em análise de requisitos,
    entrevistas e treinamentos e implantação de projetos. Como principais 
    tecnologias, trabalhei com PHP, Laravel, TypeScript, Vue e React.
  </p>
</Layout>
